/*================BODY===============*/
*,
*:before,
*:after {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Arial', sans-serif;
}

p {
  margin: 0 0 1em 0;
  font-family: 'Arial', sans-serif;
  font-size: calc(14px + 0.5vw);
  color: white;
}

h2 {
  color: #bc9f55;
}

h3 {
  font-family: 'Arial', sans-serif;
  padding: 10px;
  font-size: calc(12px + 0.5vw);
  color: white;
  display: flex;
  justify-content: flex-end;
  position: inherit;
}

h4 {
  font-family: 'Arial', sans-serif;
  padding: 10px;
  font-size: calc(12px + 0.5vw);
  color: #bc9f55;
  text-align: center;
}

/*=================HEADER===============*/
header {
  background-image: url("../img/elephant-jungle5.gif");
  background-attachment: fixed;
  background-color: #ffffff;
  background-size: cover;
  position: relative;
  background-position-x: 36%;
  background-position-y: center;
  width: 100%;
  height: 100vh;
}

.filter-background {
  width: 100%;
  height: 100vh;
  background: #0d2951;
  opacity: 0.7;
  position: absolute;
}

.logo img {
  width: 60%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  padding: 10px;
}

.social img {
  width: 30px;
}

.social {
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
}

/* =================FILTER============== */
.column {
  display: none;
  /* Hide columns by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  /* Firefox */
  -webkit-animation: fadein 1.5s;
  /* Safari and Chrome */
  -o-animation: fadein 1.5s;
  /* Opera */
}

/* Style the buttons */
#myBtnContainer {
  position: absolute;
  bottom: 5px;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 17px 12px 17px;
  margin: 5px 0 0 0;
  background-color: #bc9f55;
  cursor: pointer;
  color: white;
  font-size: calc(16px + 0.5vw);
}

/* Add a background color on mouse-over */
.btn:hover {
  background-color: #0d2951;
  animation: fadein 0.3s;
  -moz-animation: fadein 0.3s;
  /* Firefox */
  -webkit-animation: fadein 0.3s;
  /* Safari and Chrome */
  -o-animation: fadein 0.3s;
  /* Opera */
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #0d2951;
  color: white;
}

/*===========SECTION WITH FILTER=======*/
.fabrication_fr img {
  width: 80%;
}

.column .title_card {
  background-color: #0d2951;
  background-color: rgba(255, 255, 255, 0.81);
}

.wrapper>* {
  color: #fff;
}

.wrapper {
  margin: 0 30px;
  /* display: grid;*/
}

/* no grid support? */
.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}

.panel {
  /* needed for the flex layout*/
  flex: 1 1 200px;
}

.tall-panel {
  grid-column-end: span 2;
}

.panel {
  position: relative;
}

.panel img {
  max-width: 100%;
}

.name {
  display: none;
  padding: 10px;
  position: absolute;
  text-align: center;
}

.panel:hover>.name {
  font-family: 'Arial', sans-serif;
  padding: 10px;
  background-color: #0d2951;
  background-color: rgba(13, 41, 82, 0.74);
  font-size: calc(14px + 0.5vw);
  color: white;
  display: block;
  position: absolute;
  z-index: 100;
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  /* Firefox */
  -webkit-animation: fadein 0.5s;
  /* Safari and Chrome */
  -o-animation: fadein 0.5s;
  /* Opera */
}

@media screen and (max-width: 1050px) {
  .name {
    display: block;
    background-color: #0d2951;
    background-color: rgba(13, 41, 82, 0.71);
  }
}

@keyframes fadein {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

/*==============LA MARQUE============*/


.profile img {
  width: 25%;
}

.profile {
text-align: center;
  padding: 40px 5px 5px 5px;
  background-color: #0d2951;
}

/*==============SCROLLBAR=============*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(#d3db67, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bc9f55;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d2951;
  opacity: 0.7;
}

/* ===========CONTACT===========*/
.contact h2 span {
  font-size: calc(16px + 0.5vw);
  color: white;
  padding: 8px 10px 5px 10px;
  display: flex;
  right: 8px;
  bottom: 0;
  position: fixed;
  background-color: rgba(13, 41, 82, 0.81);
  z-index: 10;
  cursor: pointer;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 10%;
  left: 8px;
  background-color: #0d2951;
  background-color: rgba(13, 41, 82, 0.91);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

.overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: calc(12px + 0.4vw);
  color: #ffffff;
  display: block;
  transition: 0.5s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 50px;
}

@media screen and (min-width: 350px) {
  .overlay {
    max-width: 450px;
  }
}

/* form*/
input[type=text], input[type=email], input[type=tel], select, textarea {
  width: 100%;
  padding: 10px;
  border: 0.2px solid #0d2951;
  resize: vertical;
  background-color: white;
  font-size: calc(10px + 0.5vw);
}

input[type=submit] {
  background-color: #bc9f55;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #0d2951;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* ==========ZOOM=================*/
